body {
	background-color: #DFDFDF;
	color: black;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;

}
h1,h2{
	font-family: 'Roboto', sans-serif;
}

h1 {
	  color: #5d5dde;
    font-weight: 300;
    letter-spacing: initial;
    font-size: 38px;
}
h2{
    color: #5d5dde;
    font-size: 23px;
    font-weight: bolder;
}
a{ 
    text-decoration: none;
    color: #5d5dde;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
   }
 a:hover {
 	color: black; 
 }


/* Custom design with class */
.container{
	width: 700px;
	margin: 40px auto;
}
	 
@media (max-width: 720px) {
	.container{ 
     width: 600px;
	 }
}
@media (max-width: 540px) {
	.container{ 
     width: 400px;
	 }
}
.card-white{
	background-color: white ; 
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
	border-radius: 5px; 
	margin: 20px 0px;
	text-align: center;
}
.img-circle{
	border-radius: 50%;
}
.btn-blue{
	background-color: #5d5dde;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}
.btn-blue:hover{
	background-color: black;
	color: white;
}
.list-inline{
	list-style: none;
	padding-left:0px;
}
.list-inline li {
	display: inline;
	padding: 5px;
}
.list-inline i{
	font-size: 23px;
	color: #5d5dde;
}
.list-inline i:hover {
    color: black;
}
#introduction p {
	margin-bottom: 40px; 
}





